* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: rgba(193, 229, 240, 0.726);
    color: rgb(0, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    color: rgb(187, 187, 187);
    text-decoration: underline;
}

section {
    padding: 1rem;
}

nav img {
    width: 50px;
    height: 50px;
}

li {
    list-style-type: disc;
}
header {
    background-color: rgb(216, 216, 216);
    padding: 20px 40px;
    width: 100%;
  }

.nome {
    margin-bottom: 0.5rem;
    border-bottom: solid #FFF 1px;
}

.links {
    display: flex;
    flex-direction: column;
}

.linkedin {
    display: flex;
    align-items: center;
}
.linked{
    color:blue
}

.foto-perfil {
    
    width: 200px;
    height: 200px;
    border-radius: 40%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row-reverse;
    
}

.apresentacao {
    display: flex;
    flex-direction: column;
   /* align-items: center;
    justify-content: center;*/
    padding: 1.3rem;
}
.sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contentheader {
    align-items: center;
    justify-content:right;
    width: 100%;
  }
  .lista {
    display: flex;
    justify-content: space-between;
  }
#xp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}